
/************************
 * GENERAL STUFF
 ************************/

body {
	color: #123;
	background: #fff;
	font-size: 16px;
	text-rendering: optimize-speed;
}

@font-face {
  font-family: 'ClearSans';
  src: url('fonts/ClearSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ClearSans bold';
  src: url('fonts/ClearSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan';
  src: url('fonts/LeagueSpartan-Bold.otf') format('opentype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ClearSans', serif;
}

a {
	color: #39b54a;
}

h1,h2,h3,h4,h5,h6 {
	font-style: normal;
	font-family: 'ClearSans bold', serif;
}

strong {
	font-family: 'ClearSans bold';
}

ul {
	margin-left: 2rem;
	margin-bottom: 1rem;
}

	li {
		width: 100%;
		display: inline-block;
		margin-bottom: 1rem;
		position: relative;
	}
		li:before {
			content: '';
			position: absolute;
			left: -27px;
			top:4px;
			display: block;
			width: 16px;
			height: 16px;
			background: transparent url(arrow_right.svg) no-repeat center center;
			background-size: 100%;
		}

p {
	display: inline-block;
	margin-bottom: 1.62rem;
}

h3 {
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	display: block;
	font-size: 1.5rem;
}

h4 {
	margin-bottom: 0.62rem;
	margin-top: 1rem;
	border-bottom: 1px dashed #333;
	display: block;
}


/************************
 * CV HEADER
 ************************/

header.main {
	color: #333;
	padding: 0rem 0 2rem 0;
	background: #fff;
	background-size: cover;
	text-align: center;
}
	header h1 {
		font-size: 3rem;
		padding: 2rem 2rem 1rem 2rem;
		margin-bottom: 2.25rem;
		border: 3px solid #333;
		letter-spacing: 0.62rem;
		display: inline-block;
		text-transform: uppercase;
		font-family: 'Spartan', serif;
	}

	header h2 {
		display: block;
		position: relative;
		margin: 0rem 0;
		font-family: 'Spartan', serif;		
		font-size: 1.2rem;
	}

header.sub {
	background: #d9d9d9;
	color: #333;
	text-align: center;
	padding: 1rem;
}

	header.sub .item {
		display: inline-block;
		margin-right: 2rem;
	}

	header.sub .item:last-child {
		margin-right: 0;
	}


/************************
 * CV BODY
 ************************/

article.main {
	padding-top: 2rem;
	margin-left: 33%;
	width: 100%;
	float: left;
}

aside {
	position: absolute;
	left: 0;
	/*background: #e2e3eb;*/
	border-right: 1px solid #e9e9e9;
	width: 33%;
	padding: 2rem;
}

	aside img {
		width: 100%;
		margin-top: 0.62rem;
		margin-bottom: 1rem;
	}

	aside h3 {
		border: none;
		margin-bottom: 0.5rem;
	}

	aside p {
		margin-bottom: 1rem;
		display: block;
	}

div.main {
	margin-left: 33%;
	padding: 2rem 2rem 0 2rem;
}
